.contacts {
  padding-left: 7.5%;
}

.contacts__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $really-dark;
}

.contacts__email,
.contacts__phone {
  position: relative;

  display: block;
  margin-bottom: 17px;
  padding-left: 41px;

  font-size: 14px;
  line-height: 17px;

  color: $main-accent;

  &:hover,
  &:focus {
    color: $main-accent-hover;
  }

  &:active {
    opacity: 0.7;
  }
}

.contacts__email-icon {
  position: absolute;
  top: -2px;
  left: 0;

  fill: $grey;
}

.contacts__phone-icon {
  position: absolute;
  bottom: -5px;
  left: 5px;

  fill: white;
  stroke: $grey;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .contacts {
    padding-left: 6.5%;
  }
}

@media (max-width: $tablet-width - 1) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
  }
}
