.modal {
  position: fixed;
  top: 200px;
  left: calc(50vw - 364px);
  z-index: 1000;

  background-color: $background-grey;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 0;

  font-size: 0;
  line-height: 0;

  border: 0 none;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    .modal__close-button-icon {
      fill: none;
      stroke: $really-dark;
    }
  }
}

.modal__close-button-icon {
  fill: none;
  stroke: rgba($really-dark, 0.2);
}
