.page-main {
  margin-bottom: 90px;
}

.page-main__united-sections {
  background-image: url("../img/counties__background.jpg");
  background-repeat: no-repeat;
  background-position: center top 200px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-main__united-sections {
    background-image: none;
  }
}
