.places {
  padding-top: 200px;
}

.places__wrapper {
  margin: 0 auto;
}

.places__title {
  position: relative;
  margin: 0;
  margin-bottom: 65px;
  max-width: 350px;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: $dark;

  &::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 0;

    width: 228px;
    height: 4px;

    background-color: $main-accent;
  }
}

.places__tip {
  display: block;
  margin: 0;
  margin-bottom: 55px;
  max-width: 350px;

  line-height: 28px;
  color: rgba($dark, 0.7);
}

.places__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: -60px;
  padding: 0;

  list-style: none;
}

.places__item {
  position: relative;

  margin-left: 60px;
  margin-bottom: 100px;

  line-height: 0;
}

.places__link {
  width: 215px;
  padding: 17px;

  position: absolute;
  bottom: 0;
  left: 68px;
  z-index: 10;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $dark;

  background-color: white;
}
