.wrapper {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .wrapper {
    max-width: 100%;
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width - 1) {
  .wrapper {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
